{% extends "admin/change_form.html" %}

{% block content_title %}<h1>{{ original }}</h1>{% endblock %}

{% block content %}
    {% if form %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Submit</button>
        </form>
    {% endif %}

{% endblock %}