{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:import_certificate_with_key' %}" class="addlink">
            Import Certificate With Key
        </a>
    </li>
    {{ block.super }}
{% endblock %}