{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:import_cacertificate' %}" class="addlink">
            Import CA Certificate
        </a>
    </li>
    {{ block.super }}
{% endblock %}